# STM32CubeIDE build artifacts
firmware/STM32/DeskBot_Firmware/Debug/
firmware/STM32/DeskBot_Firmware/Release/
*.elf
*.bin
*.hex
*.map
*.o
*.d
*.su
*.lst

# STM32CubeIDE metadata
firmware/STM32/DeskBot_Firmware/.settings/
firmware/STM32/DeskBot_Firmware/.metadata/
firmware/STM32/DeskBot_Firmware/RemoteSystemsTempFiles/

# Backup & system files
*~
.DS_Store
Thumbs.db
